<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Login page"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".attendanceview"></activity>
        <activity android:name=".ViewPdfnotice" />
        <activity android:name=".Recyl"></activity>
        <activity android:name=".AfterLoginingoogle" />
        <activity android:name=".googlesignin"></activity>
        <activity android:name=".otp" />
        <activity android:name=".phone"></activity>
        <activity android:name=".googlebutton"></activity>
        <activity android:name=".studentde"></activity>
        <activity android:name=".teacherde" />
        <activity android:name=".datesheet" />
        <activity android:name=".syllabus" />
        <activity android:name=".notes" />
        <activity android:name=".jsonvol" />
        <activity android:name=".notice"></activity>
        <activity android:name=".attendance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".current" />
        <activity android:name=".tablegrid" />
        <activity android:name=".forgotpass" />
        <activity android:name=".jsonstart" />
        <activity android:name=".pgr" />
        <activity android:name=".alert" />
        <activity android:name=".timetable" />
        <activity android:name=".rcv" />
        <activity android:name=".smpalarm" />
        <activity android:name=".tmpick" />
        <activity android:name=".dtpick" />
        <activity android:name=".whatsapp" />
        <activity android:name=".spnn" />
        <activity android:name=".home" />
        <activity android:name=".webv" />
        <activity android:name=".sv" />
        <activity android:name=".spn" />
        <activity android:name=".sp" />
        <activity android:name=".spf" />
        <activity android:name=".Frontpage" />
        <activity android:name=".popmenu" />
        <activity android:name=".cnt" />
        <activity
            android:name=".opt"
            android:label="@string/title_activity_opt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".listview" />
        <activity android:name=".radio" />
        <activity android:name=".order" />
        <activity android:name=".url" />
        <activity android:name=".call" />
        <activity android:name=".webop" />
        <activity android:name=".in1" />
        <activity android:name=".second" />
        <activity android:name=".first" />
        <activity android:name=".MainActivity" />

        <receiver android:name=".brdcst" />
    </application>

</manifest>